<head>
	<meta charset="utf-8"/>
	

	<title>Grocery</title>

	<!--Foundation CDN-->
	<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

	<!--CSS References-->
	<link rel="stylesheet" href="/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="/css/signin.css" type="text/css"/>
	<link rel="stylesheet" href="/css/register.css" type="text/css"/>


</head>
