<head>
	<meta charset="utf-8"/>
	

	<title>Grocery</title>

	<!--Foundation CDN-->
	<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
	<!--CSS Reference-->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>
