<button type="button-hover" href="/shopping" class="shopping-cart-button float-right button" data-toggle="shopping-cart-dropdown">
    <i class="fa fa-shopping-cart"></i>
    <span class="text">Shopping Cart</span>
</button>