<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text" id="groceryStoreName"><a href="/" style="color: black;">Corner Market</a></li>
                <li>
                    <a href="#">Categories</a>
                    <ul class="menu">
   						<li><a href="/category/DAIRY">Dairy </a></li>
                        <li><a href="/category/BAKERY">Bakery </a></li>
                        <li><a href="/category/DELI%20MEAT%20&%20CHEESE">Deli Meat and Cheese </a></li>
                        <li><a href="/category/PREPARED%20FOODS">Prepared Foods </a></li>
                        <li><a href="/category/FROZEN%20FOODS">Frozen Foods </a></li>
                        <li><a href="/category/SNACKS">Snacks </a></li>
                        <li><a href="/category/CANDY">Candy </a></li>
                        <li><a href="/category/HEALTH%20&%20BEAUTY%CARE">Health and Beauty Care </a></li>
            </ul>

        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="/register" id="createAccount">Register</a></li>
            <li><a href="/signin" id="signIn">Sign In</a></li>
        </ul>
    </div>
</div>
