<!DOCTYPE html>
<html lang="en-US">

	{{> head}}

	<body>

		{{{ body }}}

		{{> footer}}
		
		<!-- ======================================================== -->
		<!-- CDN jQuery JS -->
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"
				integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<!-- Application JavaScript -->
		<script src="assets/js/burgers.js"></script>
		<!--CDN Foundation-->
		<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
		<script>
		$(document).foundation();
		</script>
		<!-- ======================================================== -->
	</body>