<!DOCTYPE html>
<html lang="en-US">

	{{> head}}

	<body>

		{{{ body }}}

		
		
		<!-- ======================================================== -->
		<!-- CDN jQuery JS -->
		
		<!-- Application JavaScript -->
		<script src="/scripts/scripts.js"></script>
		<!--CDN Foundation-->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
		<script>
		$(document).foundation();
		</script>
		<!-- ======================================================== -->
	</body>

