<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text" id="groceryStoreName">Corner Market</li>
                <li>
                    <a href="#">Categories</a>
                    <ul class="menu">
                        <li><a href="#">bla bla </a></li>
                        <li><a href="#">bla bla </a></li>
                        <li><a href="#">bla bla </a></li>
                        <li><a href="#">bla bla </a></li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button class="hollow button" id="liSearchBtn" href="#">Search</button>
                <!--shopping cart-->
                <button type="button-hover" href="/shopping" class="shopping-cart-button float-right button"
                    data-toggle="shopping-cart-dropdown">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="text">Shopping Cart</span>
                </button>
                <div class="shopping-cart-dropdown-pane">
                    <div class="dropdown-pane bottom " id="shopping-cart-dropdown" data-dropdown data-hover-pane="true">

                        <div class="shopping-cart-item">
                            <div class="shopping-cart-item-name">
                                <p> <span> 4 </span>      <span>    Apple </span> </p>
                                <a class="shopping-cart-title"></a>

                            </div>
                            <div class="shopping-cart-item-price">
                                <a href="#">Remove</a>

                            </div>
                        </div>
                        <a href="#" class="button shopping-cart-checkout expanded">Checkout</a>
                    </div>
                </div>
        </ul>
    </div>
</div>
<div class="row columns">
        <nav>
            <ul class="breadcrumbs">
                <li onclick="location.href='/';"><a>back</a></li>
            </ul>
        </nav>
    </div>

<div class="row">
    <div class="medium-4 columns">
        <h3>Category</h3>
        <br>
       
        <div class="media-object">
            <div class="media-object-section">
                {{!-- {{#each category}}      
                <img class="thumbnail" src="{{this.img_src}}">
            </div>
            <div class="media-object-section">
                
                <h5>{{.}} {{lookup ../category @index}}</h5>
                {{/each}} --}}
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
    </div>
    <div class="medium-4 columns">
        <br>
        <br>
        <br>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
    </div>
    <div class="medium-4 columns">
        <br>
        <br>
        <br>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h5>Nunc Eu Ullamcorper Orci</h5>
            </div>
        </div>
    </div>
</div>