<br>

<div class="row columns">
    <nav>
        <ul class="breadcrumbs">
            <li onclick="location.href='/shopping';"><a>back</a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="medium-6 columns">
        <img class="thumbnail" src="{{data.[0].dataValues.image_src}}">
    </div>
    <div class="medium-6 large-5 columns">
        <div class="column">
            <h3>{{dataValues.product_name}}</h3>
            <p>{{dataValues.selling_price}}</p>
            <label>Quantity
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </label>
            <a href="#" class="button large expanded">Buy Now</a>
        </div>
    </div>
</div>
</div>