<br>
<div id="signInDiv">

    <form action="/api/login" method="POST" class="log-in-form">

        <h4 class="text-center">Log in with you email account</h4>
        <label>Email
            <input type="email" placeholder="somebody@example.com">
        </label>
        <label>Password
            <input type="password" placeholder="Password">
        </label>

        <p><input type="submit" class="button expanded" value="Log in"></input></p>
        <p class="text-center"><a href="#">Forgot your password?</a></p>    
    </form>
    <form action="/">
            <button class="button homepageBtn">Back to Homepage</button>
    </form>
</div>