.registerDiv {
    width: 800px;
    margin: auto;
    text-align: center;
}
.create-account-form {
    border: 1px solid #cacaca;
    padding: 4rem;
    border-radius: 0;
}
.button {
    margin: 0;
}