body {
    background-color: #ffffff;
}
a {
    color: mediumseagreen;
    background-color: none;
}

#liSearchBtn {
    border-color: mediumseagreen ;
    background-color: #ffffff;
    margin: 10px;
}
#groceryStoreName {
    cursor: pointer;
    background-color: #ffffff;
}
.top-bar{
    background-color: #ffffff;
}
.menu>li {
    background-color: #ffffff;
}

.fullscreen-image-slider .orbit-image {
    width: 100%;
    height: 100vh;
}

.fullscreen-image-slider .orbit-caption {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    background: none;
    text-align: center;
    color: #fefefe;
    font-weight: bold;
}
.getToKnowUs {
    background-color: none;
}
.getToKnowUs {
    background-color: none;
}
.customerService {
    background-color: none;

}
.homepageBtn {
    align-content: center;
}